.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper{
    height: 100%;
}
.col{

}
.title, .startBtn{
    font-weight: 800;
}
.card{
    border: none;
    background-color: transparent;
}
.title{
    font-family: 'NanumSquare', sans-serif;
    margin-top: 20px;
}
.subtitle{
    font-size: 18px;
    margin: 10px 0;
}
.img{
    width: 90%;
}
.background{
    position: absolute;
    z-index: -1;
}
.startBtn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: #5890FF;
    padding: 8px 0;
    width: 250px;
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
    text-decoration-line: none;
    margin-top: 30px;
}

