.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 20px;
}
.card{
    border: none;
    background-color: transparent;
}
.question{
    padding: 50px;
    font-size: 20px;
}
.question, .btn{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.055) 0 0 15px;
    border-radius: 20px;
}